body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  height: 100vh;
  }
  .bg {
  background-image: url("./assets/backgroundImage2.png");
  /* height: 100vh; */
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
  min-height:100vh;
  width: 100%;
  height: auto;

 
 
  }

.imageList{
  display:"flex";
  flex-wrap:"nowrap"
}